@font-face {	font-family: Delicious-Roman;	font-weight: bold;	src: url('Delicious-Roman.otf');	}

/*************** INplace editor *************/
.hide{ display: none}
.editable {
}
.editable .options {
	display:none;
 	background: none repeat scroll 0 0 white;
    border: 1px solid red;
    padding: 0;
    position: absolute;
    right: 0;
    width: 42px;
}
.editable .options ul {
	padding: 0;
	margin: 0;
}
.editable .options ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    text-align: right;
    width: 20px;
}
.editable .options ul li a {
    color: #109F13;
    display: block;
    font-size: 13px;
    line-height: 1.2em;
    padding: 8px;
}

/* .editable-content{position: relative; border:2px solid transparent; overflow: hidden;} */
/* .editable-content:hover{position: relative; border:2px dashed #09F; overflow: hidden;} */

/* .wm-editable-content{position: relative; border:2px solid transparent; overflow: hidden;} */
/* .wm-editable-content:hover{position: relative; border:2px dashed #09F; overflow: hidden;} */

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:80;
  background-color:#FFF;
  display:none;
  opacity:0;
}
/********************************      tinyMCE      ********************************/
.tinyMCE-baseClass{
position:absolute;
z-index:90;

-moz-box-shadow:10px 10px 23px #888888;
-webkit-box-shadow: 10px 10px 23px #888888;
box-shadow:10px 10px 23px #888888;

}

#inplace-edit-btn { border-radius: 3px 3px 3px 3px; font-family:Delicious-Roman,sans-serif; position: absolute; top:0; right:0; padding:5px; margin: 3px; max-width: 40px; color: white; background-color: black; text-align:center; cursor:pointer;}
.border-container
	{
		/*border:3px dotted #000;*/
		background-color: rgba(200, 200, 200, 0.1);
		border: 2px dotted #111111;
		outline: 1px dotted #CCCCCC;
		pointer-events: none;
		position: absolute;
		z-index: 9000;
	}
	
	#inplace-edit-btn
	{
		padding : 5px;
		position:absolute;
		z-index:8000;
		background-color:black;
		text-align:center; cursor:pointer;
		pointer-events:all;
	}
	
	#border-left, #border-right, #border-top, #border-bottom
	{
		background-color: #000000;
		opacity: 0.05;
		position: relative;
		pointer-events: visible;
	}
	
	#border-left
	{
		float: left;
		height: 100%;
		width: 10px;
	}
	
	#border-right
	{
		float: right;
		height: 100%;
		width: 10px;
	}
	
	#border-top
	{
		height: 8px;
		width: 100%;
	}
	
	#border-bottom
	{
		float: right;
		height: 8px;
		width: 100%;
	}