<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="EN" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link rel = "stylesheet" type = "text/css" href = "style.css" />
		<link rel = "stylesheet" type = "text/css" href = "menu/menu_style.css" />		
	</head>
	<body>
		<div id = "wrapper">
			<div id="header">
			<extract id="content:article">
				<a href="index.html"><img src="images/logo.jpg" border="0" alt="Empower Mission" /></a>
				</extract>
			</div>
		<div class="red">
		<div id="slatenav">
		<extract id="content:article">
			<ul>
				<li><a href="index.html" target="_self" >HOME</a></li>
				<li><a href="empower.html" target="_self" >EMPOWER</a></li>
				<li><a href="training.html" target="_self" >TRAINING</a></li>
				<li><a href="resources.html" target="_self" >RESOURCES</a></li>
				<li><a href="support.html" target="_self" >SUPPORT</a></li>
				<li><a href="http://empowermission.blogspot.com/" target="_target" >BLOG</a></li>
				<li><a href="contact.html" target="_self" >CONTACT</a></li>
			</ul>
			</extract>
		</div>	
		</div>
		<div>
			<object type="text/html" data="jquery/index.html" width="728" height="257" style="margin-top: 15px; margin-left: 10px; margin-bottom: 0px">
			<param name="src" value="jquery/index.html" />
			</object>
			<extract id="content:article">
			<p align="center" style="float: right; margin-top: 50px; margin-right: 10px">
				<span class="Empower">Empowering</span><br /><br />
				<span class="thechurchin">the church in</span><br /><br />
		      <span class="thedeveloping">the developing</span><br /><br />
		      <span class="world"> world!</span>
			</p>
			</extract>
		</div>	
		<div id="main">
			<extract id="content:article">
			<p style="padding-top: 15px;"><a class="involved" href="get_involved.html" target="_blank"></a></p>
			</extract>
			<p><a class="ed" href="Empower_Final.pdf" target="_blank"></a></p>
			<p><a class="sponsor" href="support.html"></a></p>
			<br /><br />
			<div style="margin-left: 20px;" class="Title">RABBIT CHURCH - THE PHENOMENON <br /><br />
			<extract id="content:article">
			<object width="484" height="393"><param name="movie" value="http://www.youtube.com/v/qM13x9QkvjQ?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/qM13x9QkvjQ?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="484" height="393" allowscriptaccess="always" allowfullscreen="true"></embed></object>
			</extract>
			</div>
			<div style="margin-left: 580px; margin-top: -435px" class="Title">WHAT's NEW?</div> 
			<div style="margin-left: 600px; line-height: 200%" class="blog">
			<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
			<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/04020760869228167338/label/Empower?n=10&callback=GRC_p(%7Bc%3A%22-%22%2Ct%3A%22%22%2Cs%3A%22false%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
			</div>
		</div>
		<div id="privacy" class="disclaimer">
			<a href="#" >Privacy Policy</a>  |  <a href="#" >Disclaimer</a>
		</div>
		<div id="nav_bottom" class="bottom_links">
		<extract id="content:article">
			<p><a href="index.html">home</a> <a href="empower.html">empower</a> <a href="training.html">training</a> <a href="resources.html">resources</a> <a href="support.html">support</a> <a href="contact.html">contact</a></p>
			</extract>
		</div>
		</div>
	</body>
</html>
